* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: rgb(219, 227, 243);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 100px auto;
  width: 800px;
  min-height: 250px;
  background-color: #fff;
  border: 1px solid rgb(242, 240, 240);
  border-radius: 10px;
  padding: 40px;
  box-shadow: 5px 5px 20px 2px lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: rgb(100, 99, 99);
  font-size: 50px;
  margin-top: 10px;
}

.grocery__input {
  border: 3px solid rgba(5, 5, 141, 0.834);
  border-radius: 10px;
  height: 50px;
  width: 550px;
  font-size: 20px;
  padding: 20px;
  margin-right: 10px;
  color: rgba(5, 5, 141, 0.834);
  box-shadow: 3px 3px 20px 2px #ccc;
  background-color: rgb(241, 251, 251);
}

.grocery__submit {
  border: 2px solid #fff;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: #000;
  background-color: #87ceeb;
  cursor: pointer;
}

.grocery__submit:active {
  background-color: #f08080;
}

.grocery__clearitems {
  cursor: pointer;
  color: red;
  background-color: transparent;
  border: none;
  font-size: 16px;
  margin-top: 20px;
}

.grocery__clearitems:active {
  opacity: 0.6;
}

.grocerylist {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.grocerylist > div {
  display: flex;
  align-items: center;
}

.grocerylist p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color: darkblue;
  margin: 10px;
  width: 80%;
}

.grocerylist button {
  border: 2px solid #fff;
  border-radius: 10px;
  height: 25px;
  width: 60px;
  cursor: pointer;
  background-color: lightgreen;
  text-align: center;
}
